
<div class="main-footer">
  <div class="ds-section ds-section--space_2xs ds-section--space_md-lg">
    <div class="ds-section__element">
      <div class="g-container g-container--fit_xl g-container--space_xl">
        <div class="g-row g-row--space_md g-row--space_xs-lg g-row--appearance_spaced g-row--justify_between g-row--align_stretch">
          <div class="g-cell g-cell--disabled_till-lg g-cols g-cols--2">
            <div class="g-row g-row--space_xs g-row--full-height g-row--justify_start g-row--align_start">
              <div class="ds-panel ds-panel--space_none"> 
                <div class="ds-panel__element"><a class="ds-link ds-link--full_height" href="#"> <span class="logo"><span class="g-row g-row--space_none"><img class="logo-img logo-img--size_sm-till-xl logo-img" src="/client/src/public/img/logo.png" alt="logo" title=""/></span></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="g-cell g-cols g-cols--12 g-cols--6-md g-cols--3-lg g-cols--4-xl">
            <div class="g-row g-row--space_none g-row--justify_center g-row--align_end">
              <div class="g-cell g-cols g-cols--12 g-cols--11-lg">
                <div class="g-row g-row--space_none g-row--justify_center g-row--justify_start-xl g-row--align_center">
                  <div class="g-cell g-cols g-cols--12">
                    <div class="ds-panel ds-panel--space_xs ds-panel--space_sm-md ds-panel--space_lg-xl"> 
                      <div class="ds-panel__element ds-panel__element--offset_bottom">
                        <p class="ds-caption ds-caption--appearance_center ds-caption--appearance_left-lg ds-caption--color_1 ds-caption--size_xs ds-caption--size_md-sm ds-caption--line-height_xs ds-caption--bold">Наши контакты
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--6 g-cols--12-md g-cols--narrow-xl">    
                    <div class="ds-panel ds-panel--space_xs ds-panel--space_sm-md ds-panel--space_lg-xl"> 
                      <div class="ds-panel__element ds-panel__element--offset_vertical">
                        <p class="ds-caption ds-caption--appearance_center ds-caption--appearance_left-lg ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm ds-caption--size_md-lg ds-caption--line-height_xs ds-caption--bold">+38 (096) 747-5398
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--6 g-cols--12-md g-cols--6-xl">   
                    <div class="ds-panel ds-panel--space_none ds-panel--space_lg-xl"> 
                      <div class="ds-panel__element ds-panel__element--offset_left ds-panel__element--offset_vertical">
                        <p class="ds-caption ds-caption--appearance_center ds-caption--appearance_left-lg ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm ds-caption--size_md-lg ds-caption--line-height_xs ds-caption--bold">+38 (096) 747-5398
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--12">
                    <div class="ds-panel ds-panel--space_none ds-panel--space_md-lg"> 
                      <div class="ds-panel__element ds-panel__element--offset_top"><a class="ds-link ds-link--full_height" href="#"><span class="g-row g-row--space_md g-row--justify_center g-row--justify_start-lg g-row--align_center"><span class="g-cell g-cols g-cols--narrow"> 
                        <p class="ds-caption ds-caption--line-height_xs ds-caption--color_8 ds-caption--size_sm"><span class="icon-main_footer_mail_icon"></span>
                        </p></span><span class="g-cell g-cols g-cols--narrow">  
                        <p class="ds-caption ds-caption--size_sm ds-caption--size_md-lg ds-caption--color_1 ds-caption--line-height_xs">alexgash8@gmail.com        
                        </p></span></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-cell g-cols g-cols--12 g-cols--6-md g-cols--3-lg g-cols--2-xl">
            <div class="g-row g-row--space_none g-row--justify_center g-row--justify_start-xl g-row--align_center">
              <div class="g-cell g-cols g-cols--12">
                <div class="ds-panel ds-panel--space_xs ds-panel--space_sm-md ds-panel--space_lg-lg ds-panel--space_xl-xl">
                  <div class="ds-panel__element ds-panel__element--offset_bottom">
                    <p class="ds-caption ds-caption--color_1 ds-caption--size_xs ds-caption--size_md-sm ds-caption--line-height_xs ds-caption--bold ds-caption--appearance_center ds-caption--appearance_left-lg">График работы
                    </p>
                  </div>
                </div>
              </div>
              <div class="g-cell g-cols g-cols--12">       
                <div class="ds-panel ds-panel--space_xs ds-panel--space_sm-lg">
                  <div class="ds-panel__element ds-panel__element--offset_vertical">
                    <p class="ds-caption ds-caption--color_1 ds-caption--size_2xs ds-caption--size_xs-sm ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--appearance_left-lg">c 8:00 - 21:00 
                    </p>
                  </div>
                  <div class="ds-panel__element">
                    <p class="ds-caption ds-caption--color_1 ds-caption--size_2xs ds-caption--size_xs-sm ds-caption--size_sm-lg ds-caption--line-height_xs ds-caption--appearance_center ds-caption--appearance_left-lg">В субботу: 9:00 - 20:00
                    </p>
                  </div>
                  <div class="ds-panel__element">
                    <div class="ds-panel ds-panel--space_sm">
                      <div class="ds-panel__element ds-panel__element--offset_top"> 
                        <p class="ds-caption ds-caption--color_1 ds-caption--size_2xs ds-caption--size_xs-sm ds-caption--size_sm-lg ds-caption--line-height_xs ds-caption--appearance_center ds-caption--appearance_left-lg">В воскресенье: 10:00 - 19:00        
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-cell g-cols g-cols--12 g-cols--4-lg">
            <div class="g-row g-row--space_none g-row--justify_center g-row--justify_end-lg g-row--align_center">
              <div class="g-cell g-cols g-cols--12 g-cols--11-md">
                <div class="ds-panel ds-panel--space_xs ds-panel--space_sm-md ds-panel--space_lg-xl">
                  <div class="ds-panel__element ds-panel__element--offset_bottom">
                    <p class="ds-caption ds-caption--appearance_center ds-caption--appearance_left-lg ds-caption--color_1 ds-caption--size_xs ds-caption--size_md-sm ds-caption--line-height_xs ds-caption--bold">Мы в социальных сетях
                    </p>
                  </div>
                </div>
              </div>
              <div class="g-cell g-cols g-cols--12 g-cols--10-sm g-cols--11-md">
                <div class="g-row g-row--space_none g-row--justify_between g-row--align_center">
                  <div class="g-cell g-cols g-cols--narrow">
                    <div class="ds-panel ds-panel--space_xs ds-panel--space_md-lg"> 
                      <div class="ds-panel__element ds-panel__element--offset_vertical"><a class="ds-link ds-link--full_height" href="#"><span class="g-row g-row--space_md g-row--justify_start g-row--align_center"><span class="g-cell g-cols g-cols--narrow"> 
                        <p class="ds-caption ds-caption--line-height_xs ds-caption--color_8 ds-caption--size_md"><span class="icon-main_footer_share_icon_1"></span>
                        </p></span><span class="g-cell g-cols g-cols--6">  
                        <p class="ds-caption ds-caption--color_1 ds-caption--size_sm ds-caption--line-height_xs">Instagram
                        </p></span></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--narrow">
                    <div class="ds-panel ds-panel--space_xs ds-panel--space_md-lg"> 
                      <div class="ds-panel__element ds-panel__element--offset_vertical"><a class="ds-link ds-link--full_height" href="#"><span class="g-row g-row--space_md g-row--justify_start g-row--align_center"><span class="g-cell g-cols g-cols--narrow"> 
                        <p class="ds-caption ds-caption--line-height_xs ds-caption--color_8 ds-caption--size_md"><span class="icon-main_footer_share_icon_2"></span>
                        </p></span><span class="g-cell g-cols g-cols--6">  
                        <p class="ds-caption ds-caption--color_1 ds-caption--size_sm ds-caption--line-height_xs">YouTube
                        </p></span></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--narrow">
                    <div class="ds-panel ds-panel--space_xs ds-panel--space_md-lg"> 
                      <div class="ds-panel__element ds-panel__element--offset_vertical">                   <a class="ds-link ds-link--full_height" href="#"><span class="g-row g-row--space_md g-row--justify_start g-row--align_center"><span class="g-cell g-cols g-cols--narrow"> 
                        <p class="ds-caption ds-caption--line-height_xs ds-caption--color_8 ds-caption--size_md"><span class="icon-main_footer_share_icon_3"></span>
                        </p></span><span class="g-cell g-cols g-cols--6">  
                        <p class="ds-caption ds-caption--color_1 ds-caption--size_sm ds-caption--line-height_xs">Facebook
                        </p></span></span></a>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--12">
                    <div class="ds-panel ds-panel--space_xs ds-panel--space_xs ds-panel--space_none ds-panel--space_md-lg ds-panel--space_xl-lg">
                      <div class="ds-panel__element ds-panel__element--offset_top"> 
                        <p class="ds-caption ds-caption--color_1 ds-caption--size_2xs ds-caption--size_xs-sm ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--appearance_left-lg">© GASH 2018. Все права защищены                       
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>