
<div class="header"> 
  <div class="ds-section ds-section--space_2xs ds-section--space_xs-lg">
    <div class="ds-section__element">
      <div class="header-wrapper">
        <div class="g-container g-container--fit_xl g-container g-container--space_xl">
          <div class="burger-button burger-button--disabled-lg" id="burgerBtn">
            <div class="burger-button__element">
            </div>
          </div>
          <div class="g-row g-row--space_xs g-row--justify_between-xl">
            <div class="g-cell g-cols g-cols--12">
              <div class="g-row g-row--space_xs g-row--justify_center g-row--align_center g-row--align_stretch-lg">
                <div class="g-cell g-cols g-cols--3 g-cols--narrow-md">
                  <div class="g-row g-row--space_xs g-row--full-height g-row--justify_center g-row--align_end g-row--align_center-lg">
                    <div class="ds-panel ds-panel--space_none"> 
                      <div class="ds-panel__element"> 
                        <div class="logo">
                          <div class="g-row g-row--space_none"><img class="logo-img logo-img--size_sm-till-xl logo-img" src="/client/src/public/img/logo.png" alt="logo" title=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="g-cell g-cols g-cols--9 g-cols--6-sm g-cols--5-md g-cols--auto-lg">
                  <div class="g-row g-row--space_none g-row--appearance_column g-row--justify_between g-row--full-height"> 
                    <div class="g-cell g-cell--10-lg">
                      <div class="ds-panel">
                        <div class="ds-panel__element">
                          <nav class="main-nav main-nav--variant_main-till-xl" id="mainMenu">
                            <div class="g-row g-row--space_none g-row--justify_center g-row--justify_start-lg g-row--full-height">
                              <div class="g-cell g-cols g-cols--auto g-cols--9-lg">
                                <ul class="list list--mobile-version list--variant_inline-lg">
                                  <li class="list__item list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/index.html">
                                    <p class="ds-caption ds-caption--size_xl ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--color_1 ds-caption--line-height_xs">О нас
                                    </p></a>
                                  </li>
                                  <li class="list__item list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/news/news.html">
                                    <p class="ds-caption ds-caption--size_xl ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--color_1 ds-caption--line-height_xs">Новости
                                    </p></a>
                                  </li>
                                  <li class="list__item list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/error-page/error-page.html">
                                    <p class="ds-caption ds-caption--size_xl ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--color_1 ds-caption--line-height_xs">Энциклопедия матрасов
                                    </p></a>
                                  </li>
                                  <li class="list__item list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/error-page/error-page.html">
                                    <p class="ds-caption ds-caption--size_xl ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--color_1 ds-caption--line-height_xs">Gash Care
                                    </p></a>
                                  </li>
                                  <li class="list__item list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/contacts/contacts.html">
                                    <p class="ds-caption ds-caption--size_xl ds-caption--size_sm-lg ds-caption--appearance_center ds-caption--color_1 ds-caption--line-height_xs">Контакты
                                    </p></a>
                                  </li>
                                  <li class="list__item list__item--mobile-version list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/error-page/error-page.html"><span class="g-row g-row--space_none g-row--justify_center g-row--align_center"><span class="ds-caption ds-caption--size_xl ds-caption--appearance_center ds-caption--color_8 ds-caption--line-height_xs p">-  <span class="ds-caption ds-caption--size_md ds-caption--size_sm-xl ds-caption--color_1 ds-caption--line-height_xs">Запись на прием</span></span></span></a>
                                  </li>
                                  <li class="list__item list__item--mobile-version list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/error-page/error-page.html"><span class="g-row g-row--space_none g-row--justify_center g-row--align_center"><span class="ds-caption ds-caption--size_xl ds-caption--appearance_center ds-caption--color_8 ds-caption--line-height_xs p">-  <span class="ds-caption ds-caption--size_md ds-caption--size_sm-xl ds-caption--color_1 ds-caption--line-height_xs">Индивидуальный подбор материалов</span></span></span></a>
                                  </li>
                                  <li class="list__item list__item--mobile-version list__item--space_md list__item--space_lg-till-xl list__item--hovered"><a class="list__nav-link ds-link" href="/server/markup/templates/error-page/error-page.html"><span class="g-row g-row--space_none g-row--justify_center g-row--align_center"><span class="ds-caption ds-caption--size_xl ds-caption--appearance_center ds-caption--color_8 ds-caption--line-height_xs p">-  <span class="ds-caption ds-caption--size_md ds-caption--size_sm-xl ds-caption--color_1 ds-caption--line-height_xs">Обратный звонок</span></span></span></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                    <div class="g-cell g-cols g-cols--12">
                      <div class="g-row g-row--space_none g-row--justify_center g-row--align_end">
                        <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
                          <div class="g-row g-row--space_none g-row--justify_center g-row--justify_start-xl g-row--align_center">
                            <div class="ds-panel ds-panel--space_xs ds-panel--space_lg-xl ds-panel--appearance_inline"> 
                              <div class="ds-panel__element ds-panel__element--offset_horizontal"><img class="header-phone-icon header-phone-icon--size_sm-till-xl" src="/client/src/public/img/icons/phone_icon.png"/>
                              </div>
                            </div>
                            <p class="ds-caption ds-caption--color_1 ds-caption--size_xs ds-caption--size_md-sm ds-caption--size_xl-lg ds-caption--size_2xl-special-xl ds-caption--line-height_xs ds-caption--bold">+38 (096) 747-5398 
                            </p>
                          </div>
                        </div>
                        <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
                          <div class="ds-panel ds-panel--space_none"> 
                            <div class="ds-panel__element ds-panel__element--offset_bottom">
                              <div class="g-row g-row--space_none g-row--justify_center g-row--align_center">
                                <p class="ds-caption ds-caption--color_7 ds-caption--size_2xs ds-caption--size_xs-sm ds-caption--size_sm-xl ds-caption--appearance_center">пн-пт: 8:00 - 21:00 <span class="ds-caption">сб: 9:00 - 20:00 <span class="ds-caption">вс: 10:00 - 19:00        </span></span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="g-cell g-cols g-cols--10 g-cols--narrow-lg">
                  <div class="header-links header-links--desktop">
                    <div class="g-row g-row--space_none g-row--appearance_column-lg g-row--justify_around g-row--justify_center-xl g-row--align_start">
                      <div class="g-cell g-cols g-cols--narrow">
                        <div class="ds-panel ds-panel--space_sm-sm ds-panel--space_none-lg">
                          <div class="ds-panel__element ds-panel__element--offset_top"> 
                            <div class="g-row g-row--space_none">               <a class="ds-link" href="/server/markup/templates/error-page/error-page.html"> 
                              <div class="control-button">
                                <div class="g-row g-row--space_none g-row--justify_center g-row--align_center">
                                  <div class="ds-caption ds-caption--spacing_md ds-caption--appearance_center ds-caption--color_8 p">-  <span class="ds-caption ds-caption--size_md ds-caption--size_xs-lg ds-caption--size_sm-xl ds-caption--color_1">Запись на прием</span>
                                  </div>
                                </div>
                              </div></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="g-cell g-cols g-cols--narrow">
                        <div class="ds-panel ds-panel--space_sm-sm ds-panel--space_none-lg">
                          <div class="ds-panel__element ds-panel__element--offset_top"> 
                            <div class="g-row g-row--space_none">               <a class="ds-link" href="/server/markup/templates/error-page/error-page.html"> 
                              <div class="control-button">
                                <div class="g-row g-row--space_none g-row--justify_center g-row--align_center">
                                  <div class="ds-caption ds-caption--spacing_md ds-caption--appearance_center ds-caption--color_8 p">-  <span class="ds-caption ds-caption--size_md ds-caption--size_xs-lg ds-caption--size_sm-xl ds-caption--color_1">Индивидуальный подбор материалов</span>
                                  </div>
                                </div>
                              </div></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="g-cell g-cols g-cols--narrow">
                        <div class="ds-panel ds-panel--space_sm-sm ds-panel--space_none-lg">
                          <div class="ds-panel__element ds-panel__element--offset_top"> 
                            <div class="g-row g-row--space_none">               <a class="ds-link" href="/server/markup/templates/error-page/error-page.html"> 
                              <div class="control-button">
                                <div class="g-row g-row--space_none g-row--justify_center g-row--align_center">
                                  <div class="ds-caption ds-caption--spacing_md ds-caption--appearance_center ds-caption--color_8 p">-  <span class="ds-caption ds-caption--size_md ds-caption--size_xs-lg ds-caption--size_sm-xl ds-caption--color_1">Обратный звонок</span>
                                  </div>
                                </div>
                              </div></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>