
<div class="ds-section ds-section--space_2xs ds-section--space_xs-lg">
  <div class="ds-section__element ds-section__element--offset_bottom">
    <div class="g-container g-container--fit_xl">
      <div class="g-cell g-cols g-cols--12">
        <div class="ds-panel ds-panel--space_sm-sm ds-panel--space_md-lg">
          <div class="ds-panel__element ds-panel__element--offset_top"> 
            <ul class="breadcrumb breadcrumb--appearance_inline">
              <li class="breadcrumb__element breadcrumb__element--offset-right_md"><a class="link link--appearance_flex" href="/server/markup/templates/index.html"> <span class="ds-caption ds-caption--line-height_xs ds-caption--size_sm ds-caption--color_7">Главная</span></a>
              </li>
              <li class="breadcrumb__element breadcrumb__element--offset-right_md">
                <div class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--color_8">/  
                </div>
              </li>
              <li class="breadcrumb__element breadcrumb__element--offset-right_md"><a class="link link--appearance_flex" href="/server/markup/templates/news/news.html"> <span class="ds-caption ds-caption--line-height_xs ds-caption--size_sm ds-caption--color_7">Новости</span></a>
              </li>
              <li class="breadcrumb__element breadcrumb__element--offset-right_md">
                <div class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--color_8">/    
                </div>
              </li>
              <li class="breadcrumb__element"><a class="link link--appearance_flex" href="/server/markup/templates/contacts/contacts.html"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_sm ds-caption--color_7">Контакты     </span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>