
<div class="advantages"> 
  <div class="ds-section ds-section--space_sm ds-section--space_lg-lg">
    <div class="ds-section__element">
      <div class="g-container g-container--fit_xl g-container--space_xl">
        <div class="g-row g-row--space_none">
          <div class="g-cell g-cols g-cols--12">
            <div class="ds-panel ds-panel--space_none ds-panel--space_xl-lg">
              <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside">
                <div class="g-row g-row--space_none g-row--justify_between"> 
                  <div class="title"> 
                    <p class="ds-caption ds-caption--bold ds-caption--line-height_xs ds-caption--size_xl ds-caption--color_1">Наши лучшие матрасы
                    </p>
                  </div>
                  <div class="ds-panel ds-panel--space_xl ds-panel--appearance_inline">
                    <div class="ds-panel__element"> 
                      <div class="slider-arrow slider-arrow--advantages_prev"><span class="icon-arrow_prev"></span>
                      </div>
                    </div>
                    <div class="ds-panel__element">   
                      <div class="slider-arrow slider-arrow--advantages_next"><span class="icon-arrow_next"> </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ds-panel__element ds-panel__element--offset_bottom">      
              </div>
            </div>
          </div>
          <div class="g-cell g-cell--relative g-cols g-cols--12">
            <div class="advantages-slider">
              <div class="advantages-slider__element">
                <div class="g-row g-row--space_none g-row--align_stretch">
                  <div class="g-cell g-cols g-cols--12 g-cols--6-md g-cols--4-lg">
                    <div class="g-row g-row--space_none g-row--full-height g-row--align_center g-row--justify_center">
                      <div class="g-cell g-cols g-cols--10-md g-cols--12-lg">
                        <div class="ds-panel ds-panel--space_none ds-panel--space_lg-md ds-panel--space_none-lg">
                          <div class="ds-panel__element ds-panel__element--offset_bottom">
                            <div class="ds-panel ds-panel--space_none ds-panel--relative ds-panel--full-width-md">
                              <div class="ds-panel__element">
                                <div class="g-row g-row--space_none g-row--align_center">
                                  <div class="shadow-box">
                                  </div><img class="image image--responsive" src="/client/src/public/img/advantages_slide_1.png"/>
                                  <div class="g-row g-row--space_none g-row--full-width g-row--full-height g-row--justify_between g-row--variant_overlay g-row--position_top">
                                    <div class="g-cell g-cols g-cols--12"> 
                                      <div class="g-row g-row--space_none g-row--appearance_column">
                                        <div class="product-marks">
                                          <div class="product-marks__hit product-marks__hit--active"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_8 ds-caption--size_xs">hit  </span>
                                          </div>
                                        </div>
                                        <div class="product-marks">
                                          <div class="product-marks__new product-marks__new--active"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_11 ds-caption--size_xs">new</span>
                                          </div>
                                        </div>
                                        <div class="product-marks">
                                          <div class="product-marks__discounts product-marks__discounts--active"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_lg">%</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="g-row g-row--space_none g-row--full-width g-row--justify_between g-row--variant_overlay g-row--position_bottom">     
                                    <div class="g-cell g-cols g-cols--5">
                                      <div class="main_rate"> 
                                        <div class="ds-panel ds-panel--space_sm ds-panel--space_xl-md">
                                          <div class="ds-panel__element ds-panel__element--offset_full">
                                            <select class="rater" id="review-stars">
                                              <option class="rater__element" value="1">
                                              </option>
                                              <option class="rater__element" value="2">
                                              </option>
                                              <option class="rater__element" value="3">
                                              </option>
                                              <option class="rater__element" value="4">
                                              </option>
                                              <option class="rater__element" value="5">
                                              </option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="g-cell g-cols g-cols--6 g-cols--7-xl">
                                      <div class="g-row g-row--space_none g-row--full-height g-row--align_center g-row--justify_end">      <a class="link link--appearance_flex" href="#"> <span class="ds-panel ds-panel--space_sm ds-panel--space_xl-md ds-panel--appearance_inline ds-panel--align_center"><span class="ds-panel__element ds-panel__element--offset_right">
                                        <p class="ds-caption ds-caption--size_xs ds-caption--color_10 ds-caption--line-height_xs ds-caption--appearance_center">4.5 <span class="ds-caption">из <span class="ds-caption">5 <span class="ds-caption">на основе <span class="ds-caption">201 <span class="ds-caption">опроса(ов)</span></span></span></span></span>
                                        </p></span></span></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--12 g-cols--6-md g-cols--5-lg">
                    <div class="g-row g-row--space_none g-row--justify_center g-row--appearance_column g-row--full-height">
                      <div class="ds-panel ds-panel--space_none ds-panel--space_lg-xl"> 
                        <div class="ds-panel__element ds-panel__element--offset_left">
                          <div class="ds-panel ds-panel--space_md"> 
                            <div class="ds-panel__element ds-panel__element--offset_horizontal">
                              <div class="ds-panel ds-panel--space_md ds-panel--space_2xl-lg"> 
                                <div class="ds-panel__element ds-panel__element--offset_vertical">
                                  <div class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_lg">Матрас <span class="ds-caption ds-caption--bold"></span>
                                  </div>
                                </div>
                                <div class="ds-panel__element ds-panel__element--offset_vertical">
                                  <div class="g-row g-row--space_none g-row--justify_between"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Серия: <span class="ds-caption ds-caption--line-height_xs">Детские беспружинные матрасы</span></span><span class="ds-caption ds-caption--line-height_xs ds-caption--color_7 ds-caption--size_xs ds-caption--size_sm-sm">Артикул: <span class="ds-caption ds-caption--line-height_xs">004</span></span>
                                  </div>
                                </div>
                                <div class="ds-panel__element ds-panel__element--offset_vertical">
                                  <div class="ds-panel ds-panel--space_md">
                                    <div class="ds-panel__element">    
                                      <div class="g-row g-row--space_none g-row--justify_between">
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Стороны: 
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Прогиб: 
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--6">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Жесткость:
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ds-panel__element ds-panel__element--offset_vertical">     
                                      <div class="g-row g-row--space_none g-row--justify_between g-row--background_3">
                                        <div class="g-cell g-cols g-cols--3">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element ds-panel__element--appearance_advantages-table">
                                              <p class="ds-caption ds-caption--line-height_xs--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">1 
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--3 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">2.9 <span class="ds-caption">см</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--6 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">4.2 из 5.0<span class="ds-caption"> (умеренно жестко)</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ds-panel__element ds-panel__element--offset_top">         
                                      <div class="g-row g-row--space_none g-row--justify_between g-row--background_3">
                                        <div class="g-cell g-cols g-cols--3">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element ds-panel__element--appearance_advantages-table">
                                              <p class="ds-caption ds-caption--line-height_xs--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">2 
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--3 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">3.9 <span class="ds-caption">см</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--6 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">3.6 из 5.0<span class="ds-caption"> (Среднежестко)</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="ds-panel__element">
                                  <div class="ds-panel ds-panel--space_sm">
                                    <div class="ds-panel__element">         
                                      <div class="g-row g-row--space_none g-row--justify_between">
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Высота: <span class="ds-caption ds-caption--line-height_xs">25 <span class="ds-caption">см</span></span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--5">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Объем: <span class="ds-caption ds-caption--line-height_xs">0.3 <span class="ds-caption ds-caption--line-height_xs">м.куб</span></span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--4">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--appearance_line-througt ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Старая цена: <span class="ds-caption ds-caption--line-height_xs">7500 <span class="ds-caption ds-caption--line-height_xs">грн.</span></span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ds-panel__element ds-panel__element--offset_vertical">        
                                      <div class="g-row g-row--space_none g-row--justify_between">
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Вес: <span class="ds-caption ds-caption--line-height_xs">6.3 <span class="ds-caption ds-caption--line-height_xs">кг.</span></span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--5">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Тип: <span class="ds-caption ds-caption--line-height_xs">Беспружинник</span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--4">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">6500 <span class="ds-caption ds-caption--bold ds-caption--line-height_xs">грн.            </span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--12 g-cols--3-lg">
                    <div class="ds-panel ds-panel--space_none ds-panel--space_3xl-xl ds-panel--full-height">
                      <div class="ds-panel__element ds-panel__element--offset_left ds-panel__element--indent_outside ds-panel__element--bordered_vertical ds-panel__element--full-height"> 
                        <div class="ds-panel ds-panel--space_md">
                          <div class="ds-panel__element ds-panel__element--offset_vertical">
                            <div class="ds-panel ds-panel--space_none ds-panel--space_xl-xl">
                              <div class="ds-panel__element ds-panel__element--offset_top">
                                <p class="ds-caption ds-caption--bold ds-caption--color_1">Описание длинный заголовок лучшие матрасы
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="ds-panel__element ds-panel__element--offset_bottom">
                            <p class="ds-caption ds-caption--size_xs ds-caption--size_sm-md ds-caption--line-height_lg ds-caption--color_6 ds-caption--size_sm">Как принято считать, многие известные личности представлены в исключительно положительном свете. Также как социально-экономическое развитие, в своем классическом представлении, допускает внедрение своевременного выполнения сверхзадачи. Имеется спорная точка зрения, гласящая примерно следующее
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="advantages-slider__element">
                <div class="g-row g-row--space_none g-row--align_stretch">
                  <div class="g-cell g-cols g-cols--12 g-cols--6-md g-cols--4-lg">
                    <div class="g-row g-row--space_none g-row--full-height g-row--align_center g-row--justify_center">
                      <div class="g-cell g-cols g-cols--10-md g-cols--12-lg">
                        <div class="ds-panel ds-panel--space_none ds-panel--space_lg-md ds-panel--space_none-lg">
                          <div class="ds-panel__element ds-panel__element--offset_bottom">
                            <div class="ds-panel ds-panel--space_none ds-panel--relative ds-panel--full-width-md">
                              <div class="ds-panel__element">
                                <div class="g-row g-row--space_none g-row--align_center">
                                  <div class="shadow-box">
                                  </div><img class="image image--responsive" src="/client/src/public/img/advantages_slide_1.png"/>
                                  <div class="g-row g-row--space_none g-row--full-width g-row--full-height g-row--justify_between g-row--variant_overlay g-row--position_top">
                                    <div class="g-cell g-cols g-cols--12"> 
                                      <div class="g-row g-row--space_none g-row--appearance_column">
                                        <div class="product-marks">
                                          <div class="product-marks__hit product-marks__hit--active"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_8 ds-caption--size_xs">hit  </span>
                                          </div>
                                        </div>
                                        <div class="product-marks">
                                          <div class="product-marks__new product-marks__new--active"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_11 ds-caption--size_xs">new</span>
                                          </div>
                                        </div>
                                        <div class="product-marks">
                                          <div class="product-marks__discounts product-marks__discounts--active"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_lg">%</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="g-row g-row--space_none g-row--full-width g-row--justify_between g-row--variant_overlay g-row--position_bottom">     
                                    <div class="g-cell g-cols g-cols--5">
                                      <div class="main_rate"> 
                                        <div class="ds-panel ds-panel--space_sm ds-panel--space_xl-md">
                                          <div class="ds-panel__element ds-panel__element--offset_full">
                                            <select class="rater" id="review-stars">
                                              <option class="rater__element" value="1">
                                              </option>
                                              <option class="rater__element" value="2">
                                              </option>
                                              <option class="rater__element" value="3">
                                              </option>
                                              <option class="rater__element" value="4">
                                              </option>
                                              <option class="rater__element" value="5">
                                              </option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="g-cell g-cols g-cols--6 g-cols--7-xl">
                                      <div class="g-row g-row--space_none g-row--full-height g-row--align_center g-row--justify_end">      <a class="link link--appearance_flex" href="#"> <span class="ds-panel ds-panel--space_sm ds-panel--space_xl-md ds-panel--appearance_inline ds-panel--align_center"><span class="ds-panel__element ds-panel__element--offset_right">
                                        <p class="ds-caption ds-caption--size_xs ds-caption--color_10 ds-caption--line-height_xs ds-caption--appearance_center">4.5 <span class="ds-caption">из <span class="ds-caption">5 <span class="ds-caption">на основе <span class="ds-caption">201 <span class="ds-caption">опроса(ов)</span></span></span></span></span>
                                        </p></span></span></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--12 g-cols--6-md g-cols--5-lg">
                    <div class="g-row g-row--space_none g-row--justify_center g-row--appearance_column g-row--full-height">
                      <div class="ds-panel ds-panel--space_none ds-panel--space_lg-xl"> 
                        <div class="ds-panel__element ds-panel__element--offset_left">
                          <div class="ds-panel ds-panel--space_md"> 
                            <div class="ds-panel__element ds-panel__element--offset_horizontal">
                              <div class="ds-panel ds-panel--space_md ds-panel--space_2xl-lg"> 
                                <div class="ds-panel__element ds-panel__element--offset_vertical">
                                  <div class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_lg">Матрас <span class="ds-caption ds-caption--bold"></span>
                                  </div>
                                </div>
                                <div class="ds-panel__element ds-panel__element--offset_vertical">
                                  <div class="g-row g-row--space_none g-row--justify_between"><span class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Серия: <span class="ds-caption ds-caption--line-height_xs">Детские матрасы беспружинные </span></span><span class="ds-caption ds-caption--line-height_xs ds-caption--color_7 ds-caption--size_xs ds-caption--size_sm-sm">Артикул: <span class="ds-caption ds-caption--line-height_xs">005</span></span>
                                  </div>
                                </div>
                                <div class="ds-panel__element ds-panel__element--offset_vertical">
                                  <div class="ds-panel ds-panel--space_md">
                                    <div class="ds-panel__element">    
                                      <div class="g-row g-row--space_none g-row--justify_between">
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Стороны: 
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Прогиб: 
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--6">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Жесткость:
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ds-panel__element ds-panel__element--offset_vertical">     
                                      <div class="g-row g-row--space_none g-row--justify_between g-row--background_3">
                                        <div class="g-cell g-cols g-cols--3">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element ds-panel__element--appearance_advantages-table">
                                              <p class="ds-caption ds-caption--line-height_xs--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">1 
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--3 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">2.3 <span class="ds-caption">см</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--6 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">4.6 из 5.0<span class="ds-caption"> (умеренно жестко)</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ds-panel__element ds-panel__element--offset_top">         
                                      <div class="g-row g-row--space_none g-row--justify_between g-row--background_3">
                                        <div class="g-cell g-cols g-cols--3">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element ds-panel__element--appearance_advantages-table">
                                              <p class="ds-caption ds-caption--line-height_xs--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">2 
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--3 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">3.6 <span class="ds-caption">см</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="g-cell g-cols g-cols--6 g-cell g-cell--align_center">
                                          <div class="ds-panel ds-panel--space_none"> 
                                            <div class="ds-panel__element">
                                              <p class="ds-caption ds-caption--line-height_xs ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">3.7 из 5.0<span class="ds-caption"> (Среднежестко)</span>
                                              </p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="ds-panel__element">
                                  <div class="ds-panel ds-panel--space_sm">
                                    <div class="ds-panel__element">         
                                      <div class="g-row g-row--space_none g-row--justify_between">
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Высота: <span class="ds-caption ds-caption--line-height_xs">22 <span class="ds-caption">см</span></span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--5">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Объем: <span class="ds-caption ds-caption--line-height_xs">0.23 <span class="ds-caption ds-caption--line-height_xs">м.куб</span></span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--4">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--appearance_line-througt ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Старая цена: <span class="ds-caption ds-caption--line-height_xs">5400 <span class="ds-caption ds-caption--line-height_xs">грн.</span></span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ds-panel__element ds-panel__element--offset_vertical">        
                                      <div class="g-row g-row--space_none g-row--justify_between">
                                        <div class="g-cell g-cols g-cols--3">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Вес: <span class="ds-caption ds-caption--line-height_xs">4.2 <span class="ds-caption ds-caption--line-height_xs">кг.</span></span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--5">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">Тип: <span class="ds-caption ds-caption--line-height_xs">Беспружинник</span>
                                          </p>
                                        </div>
                                        <div class="g-cell g-cols g-cols--4">
                                          <p class="ds-caption ds-caption--line-height_xs ds-caption--bold ds-caption--color_1 ds-caption--size_xs ds-caption--size_sm-sm">4100 <span class="ds-caption ds-caption--bold ds-caption--line-height_xs">грн.            </span>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="g-cell g-cols g-cols--12 g-cols--3-lg">
                    <div class="ds-panel ds-panel--space_none ds-panel--space_3xl-xl ds-panel--full-height">
                      <div class="ds-panel__element ds-panel__element--offset_left ds-panel__element--indent_outside ds-panel__element--bordered_vertical ds-panel__element--full-height"> 
                        <div class="ds-panel ds-panel--space_md">
                          <div class="ds-panel__element ds-panel__element--offset_vertical">
                            <div class="ds-panel ds-panel--space_none ds-panel--space_xl-xl">
                              <div class="ds-panel__element ds-panel__element--offset_top">
                                <p class="ds-caption ds-caption--bold ds-caption--color_1">Описание длинный заголовок лучшие матрасы
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="ds-panel__element ds-panel__element--offset_bottom">
                            <p class="ds-caption ds-caption--size_xs ds-caption--size_sm-md ds-caption--line-height_lg ds-caption--color_6 ds-caption--size_sm">Как принято считать, многие известные личности представлены в исключительно положительном свете. Также как социально-экономическое развитие, в своем классическом представлении, допускает внедрение своевременного выполнения сверхзадачи. Имеется спорная точка зрения, гласящая примерно следующее
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>