
<div class="blog"> 
  <div class="ds-section ds-section--space_sm ds-section--space_md-lg ds-section--background_color-3">
    <div class="ds-section__element">
      <div class="g-container g-container--fit_xl g-container--space_xl">
        <div class="g-row g-row--space_none">
          <div class="g-cell g-cols g-cols--12">
            <div class="ds-panel ds-panel--space_xl">
              <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside">
                <div class="g-row g-row--space_none g-row--justify_between g-row--align_center"> 
                  <div class="title"> 
                    <p class="ds-caption ds-caption--bold ds-caption--line-height_xs ds-caption--size_xl ds-caption--color_1">Блог
                    </p>
                  </div>
                  <div class="ds-panel ds-panel--space_xl ds-panel--appearance_inline">
                    <div class="ds-panel__element ds-panel__element--offset_horizontal"><a class="link link--appearance_flex link--hovered_encyclopedia-icon link--align_center" href="#"> 
                      <p class="ds-caption ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Смотреть все  <span class="ds-caption ds-caption--size_xs ds-caption--bold ds-caption--color_8 fas fa-bars"></span>
                      </p></a>
                    </div>
                    <div class="ds-panel__element ds-panel__element--offset_horizontal ds-panel__element--indents_inside">
                    </div>
                    <div class="ds-panel__element"> 
                      <div class="slider-arrow slider-arrow--blog_prev"><span class="icon-arrow_prev"></span>
                      </div>
                    </div>
                    <div class="ds-panel__element">   
                      <div class="slider-arrow slider-arrow--blog_next"><span class="icon-arrow_next">   </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-cell g-cell--relative g-cols g-cols--12">
            <div class="blog-slider">
              <div class="blog-slider__element blog-slider__element--wide">
                <div class="g-cell g-cell--full-height g-cols g-cols--12"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_2xl ds-panel--space_none-xl ds-panel--full-height ds-panel--hovered_blog-style"> <span class="ds-panel__element ds-panel__element--full-height ds-panel__element--offset_bottom"><span class="g-row g-row--space_none g-row--align_stretch g-row--full-height g-row--justify_center"><span class="g-cell g-cols g-cols--12 g-cols--6-xl"><img class="image image--responsive" src="/client/src/public/img/blog_image_1.png"/></span><span class="g-cell g-cell--full-height_blog-cards-till-xl g-cell--full-height g-cols g-cols--12 g-cols--6-xl"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full ds-panel__element--indent_inside ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--full-height g-row--justify_between g-row--appearance_column"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Матрасы на пружинах боннель
                  </p></span><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно
                  </p></span></span><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--positiom_bottom-md"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></span></a>
                </div>
              </div>
              <div class="blog-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12"><a class="link" href="#"><span class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style"> <span class="ds-panel__element ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_center g-row--full-height"><span class="g-cell g-cols g-cols--12"><img class="image image--responsive" src="/client/src/public/img/blog_image_2.png"/></span><span class="g-cell g-cell--full-height_blog-cards g-cols g-cols--12"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full ds-panel__element--indent_inside ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Ортопедический матрас Dormisan Пульман
                  </p></span><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                  </p></span></span><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_top ds-panel__element--appearance_absolute ds-panel__element--positiom_bottom-md"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></span></span></a>
                </div>
              </div>
              <div class="blog-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12"><a class="link" href="#"><span class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style"> <span class="ds-panel__element ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_center g-row--full-height"><span class="g-cell g-cols g-cols--12"><img class="image image--responsive" src="/client/src/public/img/blog_image_3.png"/></span><span class="g-cell g-cell--full-height_blog-cards g-cols g-cols--12"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full ds-panel__element--indent_inside ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Купить тонкий матрас для дивана
                  </p></span><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                  </p></span></span><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_top ds-panel__element--appearance_absolute ds-panel__element--positiom_bottom-md"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></span></span></a>
                </div>
              </div>
              <div class="blog-slider__element blog-slider__element--wide">
                <div class="g-cell g-cell--full-height g-cols g-cols--12"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_2xl ds-panel--space_none-xl ds-panel--full-height ds-panel--hovered_blog-style"> <span class="ds-panel__element ds-panel__element--full-height ds-panel__element--offset_bottom"><span class="g-row g-row--space_none g-row--align_stretch g-row--full-height g-row--justify_center"><span class="g-cell g-cols g-cols--12 g-cols--6-xl"><img class="image image--responsive" src="/client/src/public/img/blog_image_1.png"/></span><span class="g-cell g-cell--full-height_blog-cards-till-xl g-cell--full-height g-cols g-cols--12 g-cols--6-xl"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full ds-panel__element--indent_inside ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--full-height g-row--justify_between g-row--appearance_column"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Матрасы на пружинах боннель
                  </p></span><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности стены. Для улучшения сцепления материала со стеной, мы грунтуем поверхность, и это дает нам много преимуществ. Такие материалы как: штукатурка, краска и другие, достаточно
                  </p></span></span><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--positiom_bottom-md"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></span></a>
                </div>
              </div>
              <div class="blog-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12"><a class="link" href="#"><span class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style"> <span class="ds-panel__element ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_center g-row--full-height"><span class="g-cell g-cols g-cols--12"><img class="image image--responsive" src="/client/src/public/img/blog_image_2.png"/></span><span class="g-cell g-cell--full-height_blog-cards g-cols g-cols--12"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full ds-panel__element--indent_inside ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Ортопедический матрас Dormisan Пульман
                  </p></span><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                  </p></span></span><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_top ds-panel__element--appearance_absolute ds-panel__element--positiom_bottom-md"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></span></span></a>
                </div>
              </div>
              <div class="blog-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12"><a class="link" href="#"><span class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style"> <span class="ds-panel__element ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_center g-row--full-height"><span class="g-cell g-cols g-cols--12"><img class="image image--responsive" src="/client/src/public/img/blog_image_3.png"/></span><span class="g-cell g-cell--full-height_blog-cards g-cols g-cols--12"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full ds-panel__element--indent_inside ds-panel__element--full-height"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Купить тонкий матрас для дивана
                  </p></span><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                  </p></span></span><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_top ds-panel__element--appearance_absolute ds-panel__element--positiom_bottom-md"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>