
<div class="features"> 
  <div class="ds-section ds-section--space_sm ds-section--space_lg-lg">
    <div class="ds-section__element ds-section__element--offset_bottom">
      <div class="g-container g-container--fit_xl g-container--space_xl">
        <div class="g-row g-row--appearance_spaced g-row--space_xl g-row--align_stretch g-row--justify_center">
          <div class="g-cell g-cell--min-height_main g-cols g-cols--12 g-cols--8-lg">
            <div class="ds-panel ds-panel--space_lg ds-panel--full-height ds-panel--background_features-main">
              <div class="ds-panel__element ds-panel__element--full-height">
                <div class="g-row g-row--space_none g-row--justify_start g-row--full-height g-row--align_center">
                  <div class="g-cell g-cols g-cols--12 g-cols--5-lg">
                    <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_3xl-lg">
                      <div class="ds-panel__element ds-panel__element--offset_left">
                        <p class="ds-caption ds-caption--size_sm ds-caption--size_md-md ds-caption--size_xl-xl ds-caption--color_8 ds-caption--bold">Чем мы лучше?
                        </p>
                      </div>
                      <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_left ds-panel__element--indent_inside">
                        <p class="ds-caption ds-caption--size_sm ds-caption--color_1 ds-caption--size_md-md ds-caption--size_lg-xl ds-caption--bold">Наши особенные особенности
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Ремонтируем некачественные фабричные матрасы
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">(перешиваем чехлы, вшиваем молнии, повышаем жесткость, укрепляем периметр, приводим к своим стандартам сна)
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_1"></span></span></span></span></a>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Заботимся через систему  Gash Care
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">мы создаем и оттачиваем реальную аналитическую систему удовольствия  клиентов
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_2"></span></span></span></span></a>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Открываем сокровенное сокровенные
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">технические тайны в нашей Энциклопедии матрасов, ручаемся - ее наполнение и качество подачи информации Вас приятно удивит
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_3"></span></span></span></span></a>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Имеем мощнейшую YouTube библиотеку
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">такого обилия высококачественной информации по теме матрасов Вы еще не видели!
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_4"></span></span></span></span></a>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Корректируем неудачно подобранную жесткость
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">(смягчаем, повышаем жесткость, улучшаем комфорт, выстраиваем качественный пирог ортопедического комфорта), наши матрасы - ЗА СВОЙ СЧЕТ
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_5"></span></span></span></span></a>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Прямой контакт с мастером с мастером матрасов
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">создателем мастерской ЛИЧНО = матрас из первых рук от производителя
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_6"></span></span></span></span></a>
          </div>
          <div class="g-cell g-cols g-cols--11 g-cols--6-sm g-cols--4-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--background_color-3 ds-panel--full-height ds-panel--relative ds-panel--hovered_features-style"><span class="ds-panel__element ds-panel__element--offset_full">
            <div class="g-cell g-cols g-cols--10 g-cols--11-md">
              <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl">
                <div class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--size_sm ds-caption--line-height_xs-till-md ds-caption--size_md-lg ds-caption--bold ds-caption--color_1">Гарантия 5 лет на ЛЮБУЮ претензию
                  </p>
                </div>
                <div class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">решаем любую проблему вплоть до возврата денег без лишних вопросов - в нашей обойме исключительно довольные клиенты!
                  </p>
                </div>
              </div>
            </div></span><span class="ds-panel__element ds-panel__element--appearance_absolute ds-panel__element--variant_features-icon"><span class="ds-caption ds-caption--color_8 ds-caption--shaded ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl"><span class="icon-features_icon_7"></span></span></span></span></a>
          </div>
        </div>
      </div>
      <div class="terms"> 
        <div class="ds-section ds-section--space_sm ds-section--space_lg-lg">
          <div class="ds-section__element ds-section__element--offset_top">
            <div class="g-container g-container--fit_xl g-container--space_xl">
              <div class="g-row g-row--appearance_spaced g-row--space_xl g-row--align_stretch g-row--justify_center">
                <div class="g-cell g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl">
                    <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside">
                      <div class="g-row g-row--space_none g-row--justify_center g-row--justify_start-lg">
                        <div class="title"> 
                          <p class="ds-caption ds-caption--bold ds-caption--line-height_xs ds-caption--size_xl ds-caption--color_1">Условия работы
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-row g-row--appearance_spaced g-row--space_xl g-row--align_stretch g-row--justify_center">
                <div class="g-cell g-cols g-cols--5 g-cols--3-sm g-cols--2-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--full-height ds-panel--hovered_features-style ds-panel--shaded_box ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--color_8 ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl ds-caption--appearance_center"><span class="icon-terms_icon_1"></span>
                  </p></span><span class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md ds-caption--appearance_center">Уникальная методика точного подбора жесткости
                  </p></span></span></span></span></a>
                </div>
                <div class="g-cell g-cols g-cols--5 g-cols--3-sm g-cols--2-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--full-height ds-panel--hovered_features-style ds-panel--shaded_box ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--color_8 ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl ds-caption--appearance_center"><span class="icon-terms_icon_2"></span>
                  </p></span><span class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md ds-caption--appearance_center">Личная консультация мастера матрасов
                  </p></span></span></span></span></a>
                </div>
                <div class="g-cell g-cols g-cols--5 g-cols--3-sm g-cols--2-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--full-height ds-panel--hovered_features-style ds-panel--shaded_box ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--color_8 ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl ds-caption--appearance_center"><span class="icon-terms_icon_3"></span>
                  </p></span><span class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md ds-caption--appearance_center">Для старта работы аванс 50% 
                  </p></span></span></span></span></a>
                </div>
                <div class="g-cell g-cols g-cols--5 g-cols--3-sm g-cols--2-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--full-height ds-panel--hovered_features-style ds-panel--shaded_box ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--color_8 ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl ds-caption--appearance_center"><span class="icon-terms_icon_4"></span>
                  </p></span><span class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md ds-caption--appearance_center">Изготовление до 10 рабочих дней
                  </p></span></span></span></span></a>
                </div>
                <div class="g-cell g-cols g-cols--5 g-cols--3-sm g-cols--2-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--full-height ds-panel--hovered_features-style ds-panel--shaded_box ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--color_8 ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl ds-caption--appearance_center"><span class="icon-terms_icon_5"></span>
                  </p></span><span class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md ds-caption--appearance_center">Бесплатная доставка по Киеву
                  </p></span></span></span></span></a>
                </div>
                <div class="g-cell g-cols g-cols--5 g-cols--3-sm g-cols--2-lg"><a class="ds-link ds-link--full_height" href="#"><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_xl-xl ds-panel--full-height ds-panel--hovered_features-style ds-panel--shaded_box ds-panel--background_color-10"><span class="ds-panel__element ds-panel__element--offset_full"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_bottom">
                  <p class="ds-caption ds-caption--color_8 ds-caption--line-height_xs ds-caption--size_xl ds-caption--size_2xl-md ds-caption--size_2xl-special-xl ds-caption--appearance_center"><span class="icon-terms_icon_6"></span>
                  </p></span><span class="ds-panel__element">
                  <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md ds-caption--appearance_center">Отправляем по всей Украине
                  </p></span></span></span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>