
<div class="g-cell g-cols g-cols--12 g-cols--6-sm g-cols--12-md">
  <div class="ds-panel ds-panel--space_xl ds-panel--full-height">
    <div class="ds-panel__element ds-panel__element--offset_right-till-md ds-panel__element--offset_left ds-panel__element--offset_bottom ds-panel__element--full-height ds-panel__element--indent_inside">
      <div class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style">
        <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_10"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/blog_image_2.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Как измерить высоту матраса?
          </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
          </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="g-cell g-cols g-cols--12 g-cols--6-sm g-cols--12-md">
  <div class="ds-panel ds-panel--space_xl ds-panel--full-height">
    <div class="ds-panel__element ds-panel__element--offset_right-till-md ds-panel__element--offset_left ds-panel__element--offset_bottom ds-panel__element--full-height ds-panel__element--indent_inside">
      <div class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style">
        <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_10"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/blog_image_4.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Матрасы на пружинах боннель
          </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
          </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="g-cell g-cols g-cols--12 g-cols--6-sm g-cols--12-md">
  <div class="ds-panel ds-panel--space_xl ds-panel--full-height">
    <div class="ds-panel__element ds-panel__element--offset_right-till-md ds-panel__element--offset_left ds-panel__element--offset_bottom ds-panel__element--full-height ds-panel__element--indent_inside">
      <div class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style">
        <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_10"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_3.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Ортопедический матрас Dormisan Пульман
          </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
          </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="g-cell g-cols g-cols--12 g-cols--6-sm g-cols--12-md">
  <div class="ds-panel ds-panel--space_xl ds-panel--full-height">
    <div class="ds-panel__element ds-panel__element--offset_right-till-md ds-panel__element--offset_left ds-panel__element--offset_bottom ds-panel__element--full-height ds-panel__element--indent_inside">
      <div class="ds-panel ds-panel--space_none ds-panel--full-height ds-panel--hovered_blog-style">
        <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_10"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/blog_image_5.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Купить тонкий матрас для дивана
          </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
          <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
          </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>