{# Template: your_app/templates/admin/base_site.html #}
{% extends "admin/base.html" %}
{# {% load static i18n %} #}

{# Setup favicon #}
{% block extrahead %}
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon_admin.png"/>
  <script type="text/javascript" src="/static/js/admin.js"></script>
{% endblock %}
{% block extrastyle %}
  <link rel='stylesheet' media='all' href='/static/css/admin.css'/>
{% endblock %}
{# Setup browser tab label #}
{% set project_name = _("CHANGE ME") %}

{% block title %} {{ title }} |  {{ project_name }} {% endblock %}

{# Setup branding #}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            
            <img src="/static/img/logo.png" alt="{{ project_name }}" title="{{ project_name }}" height="auto" width="100%">
        </a>
    </h1>
{% endblock %}