
<div class="main"> 
  <div class="ds-section ds-section--space_none">
    <div class="ds-section__element">
      <div class="g-row g-row--space_none g-row--align_stretch g-row--over-hidden">
        <div class="g-cell g-cell--relative g-cols g-cols--12 g-cols--6-md">
          <div class="main-slider">
            <div class="main-slider__element">
              <div class="shadow-box">
              </div><a class="link link--appearance_flex" href="#"><img class="image image--width_half-screen-lg" src="/client/src/public/img/slider_main_foto1.png"/><span class="g-row g-row--space_none g-row--justify_center g-row--justify_end-lg g-row--full-width g-row--variant_overlay g-row--position_bottom"><span class="g-cell g-cols g-cols--11 g-cols--8-lg"><span class="ds-panel ds-panel--space_lg-lg"><span class="ds-panel__element ds-panel__element--offset_right ds-panel__element--offset_bottom">
              <p class="ds-caption ds-caption--size_lg ds-caption--color_10 ds-caption--bold">Энциклопедия матрасов
              </p></span><span class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_right">
              <p class="ds-caption ds-caption--size_2xs ds-caption--color_10">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины.
              </p></span><span class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside"> </span></span></span></span></a>
            </div>
            <div class="main-slider__element">
              <div class="shadow-box">
              </div><a class="link link--appearance_flex" href="#"><img class="image image--width_half-screen-lg" src="/client/src/public/img/slider_main_foto1.png"/><span class="g-row g-row--space_none g-row--justify_center g-row--justify_end-lg g-row--full-width g-row--variant_overlay g-row--position_bottom"><span class="g-cell g-cols g-cols--11 g-cols--8-lg"><span class="ds-panel ds-panel--space_lg-lg"><span class="ds-panel__element ds-panel__element--offset_right ds-panel__element--offset_bottom">
              <p class="ds-caption ds-caption--size_lg ds-caption--color_10 ds-caption--bold">Энциклопедия матрасов#2
              </p></span><span class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_right">
              <p class="ds-caption ds-caption--size_2xs ds-caption--color_10">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины.2.
              </p></span><span class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside"> </span></span></span></span></a>
            </div>
            <div class="main-slider__element">
              <div class="shadow-box">
              </div><a class="link link--appearance_flex" href="#"><img class="image image--width_half-screen-lg" src="/client/src/public/img/slider_main_foto1.png"/><span class="g-row g-row--space_none g-row--justify_center g-row--justify_end-lg g-row--full-width g-row--variant_overlay g-row--position_bottom"><span class="g-cell g-cols g-cols--11 g-cols--8-lg"><span class="ds-panel ds-panel--space_lg-lg"><span class="ds-panel__element ds-panel__element--offset_right ds-panel__element--offset_bottom">
              <p class="ds-caption ds-caption--size_lg ds-caption--color_10 ds-caption--bold">Энциклопедия матрасов#3
              </p></span><span class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_right">
              <p class="ds-caption ds-caption--size_2xs ds-caption--color_10">Внезапно, реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины.3.
              </p></span><span class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside"> </span></span></span></span></a>
            </div>
          </div>
          <div class="slider-arrow slider-arrow--main slider-arrow--main_prev"><span class="icon-arrow_prev"></span>
          </div>
          <div class="slider-arrow slider-arrow--main slider-arrow--main_next"><span class="icon-arrow_next"></span>
          </div>
        </div>
        <div class="g-cell g-cols g-cols--12 g-cols--6-md">
          <div class="g-row g-row--space_none g-row--align_stretch g-row--half-height g-row--over-hidden g-row--relative">
            <div class="g-cell g-cell--relative g-cols g-cols--12">
              <div class="g-cell g-cell--appearance_absolute g-cols g-cols--12"><img class="image image--responsive" src="/client/src/public/img/main_block_bg1.png"/>
                <div class="g-row g-row--space_none g-row--justify_center g-row--variant_overlay g-row--position_bottom g-row--full-width">
                  <div class="g-cell g-cols g-cols--12">
                    <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_3xl-lg">
                      <div class="ds-panel__element ds-panel__element--offset_left">
                        <p class="ds-caption ds-caption--size_sm ds-caption--size_md-md ds-caption--size_xl-xl ds-caption--color_8 ds-caption--bold">Приветствует
                        </p>
                      </div>
                      <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_left ds-panel__element--indent_inside">
                        <p class="ds-caption ds-caption--size_sm ds-caption--color_1 ds-caption--size_md-md ds-caption--size_lg-xl ds-caption--bold">Киевская мастерская матрасов GASH!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-row g-row--space_none g-row--align_stretch g-row--half-height g-row--over-hidden g-row--relative">           
            <div class="g-cell g-cell--relative g-cols g-cols--5"><img class="image image--responsive" src="/client/src/public/img/main_block_bg2.png"/>
              <div class="g-row g-row--space_none g-row--justify_center g-row--variant_overlay g-row--position_bottom g-row--full-width">
                <div class="g-cell g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_3xl-lg">
                    <div class="ds-panel__element ds-panel__element--offset_left">
                      <p class="ds-caption ds-caption--size_sm ds-caption--size_md-md ds-caption--size_xl-xl ds-caption--color_8 ds-caption--bold">Приветствует
                      </p>
                    </div>
                    <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_left ds-panel__element--indent_inside">
                      <p class="ds-caption ds-caption--size_sm ds-caption--color_1 ds-caption--size_md-md ds-caption--size_lg-xl ds-caption--bold">Киевская мастерская матрасов GASH!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-cell g-cell--relative g-cols g-cols--7"><img class="image image--responsive" src="/client/src/public/img/main_block_bg3.png"/>
              <div class="g-row g-row--space_none g-row--justify_center g-row--variant_overlay g-row--position_bottom g-row--full-width">
                <div class="g-cell g-cols g-cols--9">
                  <div class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_3xl-lg">
                    <div class="ds-panel__element ds-panel__element--offset_left">
                      <p class="ds-caption ds-caption--size_sm ds-caption--size_md-md ds-caption--size_xl-xl ds-caption--color_8 ds-caption--bold">Приветствует
                      </p>
                    </div>
                    <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--offset_left ds-panel__element--indent_inside">
                      <p class="ds-caption ds-caption--size_sm ds-caption--color_1 ds-caption--size_md-md ds-caption--size_lg-xl ds-caption--bold">Киевская мастерская матрасов GASH!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>