
<div class="encyclopedia"> 
  <div class="ds-section ds-section--space_xs ds-section--space_md-lg">
    <div class="ds-section__element ds-section__element--offset_top">
      <div class="g-container g-container--fit_xl g-container--space_xl">
        <div class="g-row g-row--space_none">
          <div class="g-cell g-cols g-cols--12">
            <div class="ds-panel ds-panel--space_xl">
              <div class="ds-panel__element ds-panel__element--offset_bottom ds-panel__element--indent_inside">
                <div class="g-row g-row--space_none g-row--justify_between g-row--align_center"> 
                  <div class="title"> 
                    <p class="ds-caption ds-caption--bold ds-caption--line-height_xs ds-caption--size_xl ds-caption--color_1">Энциклопедия
                    </p>
                  </div>
                  <div class="ds-panel ds-panel--space_xl ds-panel--appearance_inline">
                    <div class="ds-panel__element ds-panel__element--offset_horizontal"><a class="link link--appearance_flex link--hovered_encyclopedia-icon link--align_center" href="#"> 
                      <p class="ds-caption ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Смотреть все  <span class="ds-caption ds-caption--size_xs ds-caption--bold ds-caption--color_8 fas fa-bars"></span>
                      </p></a>
                    </div>
                    <div class="ds-panel__element ds-panel__element--offset_horizontal ds-panel__element--indents_inside">        
                    </div>
                    <div class="ds-panel__element"> 
                      <div class="slider-arrow slider-arrow--encyclopedia_prev"><span class="icon-arrow_prev"></span>
                      </div>
                    </div>
                    <div class="ds-panel__element">   
                      <div class="slider-arrow slider-arrow--encyclopedia_next"><span class="icon-arrow_next">       </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="g-cell g-cell--justify_center-xl g-cell--relative g-cols g-cols--12">
            <div class="encyclopedia-slider">
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_1.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Как измерить высоту матраса?
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_2.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Матрасы на пружинах боннель
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_3.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Ортопедический матрас Dormisan Пульман
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_4.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Купить тонкий матрас для дивана
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_1.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Как измерить высоту матраса?
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_2.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Матрасы на пружинах боннель
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_3.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Ортопедический матрас Dormisan Пульман
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="encyclopedia-slider__element">                       
                <div class="g-cell g-cell--full-height g-cols g-cols--12">
                  <div class="ds-panel ds-panel--space_xl ds-panel--full-height ds-panel--hovered_blog-style">
                    <div class="ds-panel__element ds-panel__element--full-height ds-panel__element--indent_inside">                   <a class="link" href="#"><span class="g-row g-row--space_none g-row--justify_start g-row--appearance_column g-row--full-height g-row--background_3"><span class="g-cell g-cols g-cols--12"><img class="image image--cover" src="/client/src/public/img/encyclopedia_image_4.png"/></span><span class="g-cell g-cols g-cols--auto"><span class="g-row g-row--space_none g-row--justify_between g-row--appearance_column g-row--full-height"><span class="g-cell g-cols g-cols--12"><span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"><span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--blog_hover ds-caption--bold ds-caption--color_1 ds-caption--size_sm ds-caption--size_md-md">Купить тонкий матрас для дивана
                      </p></span></span></span></span><span class="ds-panel ds-panel--space_md ds-panel--space_lg-md ds-panel--space_2xl-lg ds-panel--full-height ds-panel--relative">  <span class="ds-panel__element"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal">
                      <p class="ds-caption ds-caption--line-height_xs ds-caption--line-height_lg-md ds-caption--color_6 ds-caption--size_xs ds-caption--size_sm-md">Любой отделочный материал, независимо от его содержания, должен достаточно хорошо держаться на поверхности 
                      </p></span></span></span></span></span><span class="g-cell g-cols g-cols--12"> <span class="ds-panel ds-panel--space_sm ds-panel--space_md-md ds-panel--space_lg-xl"> <span class="ds-panel__element ds-panel__element--offset_vertical"><span class="ds-panel ds-panel--space_xl"><span class="ds-panel__element ds-panel__element--offset_horizontal"><span class="ds-caption ds-caption--line-height_xs ds-caption--size_xs ds-caption--size_sm-md ds-caption--color_14">25 Декабря 2018</span></span></span></span></span></span></span></span></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ds-section__element ds-section__element--offset_top">                                       
    </div>
    <div class="gash-care"> 
      <div class="g-container g-container--fit_xl g-container--space_none g-container--space_xl-lg">
        <div class="ds-section ds-section--space_sm ds-section--background_color-1 ds-section--bordered_left">
          <div class="ds-section__element">
            <div class="g-container g-container--fit_xl g-container--space_xl"> 
              <div class="g-row g-row--space_none g-row--justify_center">
                <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
                  <div class="g-row g-row--justify_center g-row--full-height g-row--align_center">
                    <div class="ds-panel ds-panel--space_none ds-panel--space_3xl-lg">
                      <div class="ds-panel__element ds-panel__element--offset_left">
                        <p class="ds-caption ds-caption--appearance_center ds-caption--appearance_left-lg ds-caption--blog_hover ds-caption--bold ds-caption--color_10 ds-caption--size_sm ds-caption--size_md-md">Станьте частью системы Gash Care”, мы сможем предложить оптимальное решение Вашей проблемы!
                        </p>
                      </div>
                      <div class="ds-panel ds-panel--space_md ds-panel--space_none-lg">
                        <div class="ds-panel__element ds-panel__element--offset_top"> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="g-cell g-cols g-cols--12 g-cols--6-lg">
                  <div class="g-row g-row--space_none g-row--justify_center g-row--justify_end-lg g-row--full-height g-row--align_center">
                    <div class="g-cell g-cols g-cols--12 g-cols--7-md g-cols--12-lg">
                      <div class="ds-panel ds-panel--full-width">
                        <div class="ds-panel__element">
                          <form-component></form-component>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>